*/**
!*.gitkeep
!*/
!/img/*.png
!/hdl/**/*.vhd
!/hdl/**/*.sv
!/hdl/**/*.v
!/sim/**/*.vhd
!/sim/**/*.wcfg
!/dat/**/*.dat
!/dat/**/*.vcd
!/script/**/*.sh
!/script/**/*.py
!/script/**/*.do
!/script/**/*.tcl


!/src/**/*.c
!/src/**/*.h
!/src/**/*.cpp

!/intel/**/*.qpf
!/intel/**/*.qsf
!/intel/**/*.qip

!/xilinx/**/*.xpr
!/xilinx/**/*.bd
!/xilinx/**/*.edif

