*/**
!*.gitkeep
!*/
!/img/*.png
!/hdl/**/*.vhd
!/hdl/**/*.sv
!/hdl/**/*.vhd
!/sim/**/*.vhd
!/sim/**/*.wcfg
!/dat/**/*.dat
!/script/**/*.sh
!/script/**/*.py
!/script/**/*.do
!/script/**/*.tcl

!/intel/**/*.qpf
!/intel/**/*.qsf
!/intel/**/*.qip

!/xilinx/**/*.xpr

!/xilinx/**/*.bd
!/xilinx/**/*.edif

