*/**
!*.gitkeep
!*/
!/hdl/**/*.vhd
!/hdl/**/*.sv
!/hdl/**/*.vhd
!/hdl/**/*.qip
!/sim/**/*.vhd
!/sim/**/*.wcfg
!/dat/**/*.dat
!/script/**/*.sh
!/script/**/*.py
!/script/**/*.do
!/script/**/*.tcl
!/intel/**/*.qpf
!/intel/**/*.qsf
!/xilinx/**/*.xpr

!/xilinx/**/*.bd
!/xilinx/**/*.edif

